#products {
  .up {
    margin-bottom: 1rem;
    .btn-secondary {
      color: $gray;
      text-transform: inherit;
      .material-icons {
        margin-right: 0;
      }
    }
  }
}

.block-category #category-description p,
.block-category #category-description strong {
    font-weight: 400;
    color: #7a7a7a
}
.block-category #category-description p {
    color: #232323;
    margin-bottom: 0
}
.block-category #category-description p:first-child {
  margin-bottom: 1.25rem
}

#search_filters,
#search_filters_brands,
#search_filters_suppliers {
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 1.563rem;
  background: #fff;
  padding: 15px;
  .facet {
    padding-top: $small-space;
    .collapse {
      display: block;
    }
    .facet-label {
      margin-bottom: 0;
      a {
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
}
#search_filters_brands,
#search_filters_suppliers {
  .facet {
    padding-top: 0;
    .facet-label {
      margin-bottom: 0.3125rem;
    }
  }
}
.pagination {
  width: 100%;
  .page-list {
    li {
      display: inline;
    }
  }
  .current a {
    color: $brand-primary;
    text-decoration: none;
    font-size: 1.25rem;
  }
}
.active_filters {
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
  .active-filter-title {
    display: inline;
    margin-right: .625rem;
  }
  ul {
    display: inline;
  }
  .filter-block {
    border: 1px solid #eee;
    color: #232323;
    background: #fff;
    padding: 6px 5px 5px;
    display: inline-block;
    border-radius: 5px;
    font-size: 14px;
    .close {
      color: $gray-darker;
      font-size: $font-size-lg;
      opacity: 1;
      margin-top: 0.1875rem;
      margin-left: 0.3125rem;
    }
  }
}
.block-categories {
  border: 1px solid #eee;
  background: #fff;
  padding: 1.563rem 1.25rem;
  border-radius: 5px;
  margin-bottom: 1.563rem;
  .category-sub-menu {
    margin-top: $small-space;
    .category-sub-link{
      font-size: $font-size-sm;
    }
    li{
      position: relative;
      &[data-depth="1"]{
        margin-bottom: $small-space;
      }
    }
    li[data-depth="0"] > a {
      width: 100%;
      display: inline-block;
      margin: .3125rem 0 0;
      padding-bottom: .1875rem;
      line-height: 25px;
    }
    li:not([data-depth="0"]):not([data-depth="1"]) {
      padding-left: 0.3125rem;
      &::before {
        content: "-";
        margin-right: 0.3125rem;
      }
    }
  }
  a {
    color: $gray-darker;
  }
  .collapse-icons {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    cursor: pointer;
    &[aria-expanded="true"] {
      .add {
        display: none;
      }
      .remove {
        display: block;
      }
    }
    .add,
    .remove {
      &:hover {
        color: $brand-primary;
      }
    }
    .remove {
      display: none;
    }
  }
  .arrows {
    .arrow-right,
    .arrow-down {
      font-size: $font-size-sm;
      cursor: pointer;
      margin-left: 2px;
      &:hover {
        color: $brand-primary;
      }
    }
    &[aria-expanded="true"] {
      .arrow-right {
        display: none;
      }
      .arrow-down {
        display: inline-block;
      }
    }
  }
}

.products-selection {
  .filter-button {
    .btn-secondary, .btn-tertiary {
      padding: 0.75rem 0.5rem 0.6875rem;
    }
  }
}
.advertising-block {
  margin-bottom: 1.563rem
}
.advertising-block img {
  width: 100%
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  #category {
    #left-column {
      width: 100%;
      #search_filter_controls {
        text-align: center;
        margin-bottom: 1rem;
        button {
          margin: 0 0.5rem;
        }
      }
      #search_filters {
        margin-bottom: 0;
        box-shadow: none;
        border-top: 1px solid $gray-lighter;
        .facet {
          padding-top: 0;
          border-bottom: 1px solid $gray-lighter;
          
          .title {
            cursor: pointer;
            padding: 5px 0;
            .collapse-icons .remove {
              display: none;
            }
          }
          .title[aria-expanded="true"] {
            .collapse-icons {
              .add {
                display: none;
              }
              .remove {
                display: block;
              }
            }
          }
          .facet-title {
            color: $gray-darker;
            border: none;
            text-transform: uppercase;
          }
          .h6 {
            margin: 0;
            display: inline-block;
            padding: 0;
            padding-top: 5px;
          }
          .navbar-toggler {
            display: inline-block;
          }
          .collapse {
            display: none;
            &.in {
              display: block;
            }
          }
          .facet-label {
            a {
              margin-top: 0;
            }
          }
          ul {
            margin-bottom: 0;
            li {
              border-top: 1px solid $gray-lighter;
              padding: 0.625rem;
            }
          }
        }
      }
    }
    
    #search_filter_toggler {
      width: 100%;
    }
  }
  .products-sort-order {
    .select-title {
      margin-left: 0;
    }
  }
  .products-selection {
    h1 {
      padding-top: 0;
      text-align: center;
      margin-bottom: 1rem;
    }
    .showing {
      padding-top: 1rem;
    }
  }
  #best-sales #content-wrapper,
  #prices-drop #content-wrapper,
  #new-products #content-wrapper {
    width: 100%;
  }
}


