.contact-rich {
  color: #1a1a1a;
  background-color: #fff;
  margin-bottom: 2rem;
  word-wrap: break-word;
  border: 1px solid #eee;
  padding: 1rem;
  border-radius: 5px;

  h4 {
    text-transform: uppercase;
    color: $gray-darker;
    margin-bottom: 2rem;
  }
  .block {
    height: auto;
    overflow: hidden;
    .icon {
      float: left;
      width: 2.5rem;
    }
    .data {
      color: $gray-darker;
      font-size: $font-size-sm;
      width: auto;
      overflow: hidden;
    }
  }
}
.contact-form {
  background: white;
  // padding: 1rem;
  // color: $gray;
  width: 100%;
  h3 {
    text-transform: uppercase;
    // color: $gray-darker;
  }
}
