.block_newsletter {
  form {
    position: relative;
    button[type="submit"] {
      position: absolute;
      background: none;
      border: none;
      bottom: 0.3125rem;
      right: 0.125rem;
      color: #7a7a7a;
    }
    .input-wrapper {
      overflow: hidden;
      margin: 25px 0;
    }
    input[type="email"] {
      padding: 11px 20px;
      width: 100%;
      background-color: #fff;
      font-size: 12px;
      border-radius: 4px;
    }
    input {
      height: 50px;
      border: none;
      box-shadow: none;
    }
  }
}
.links .collapse {
  display: inherit
}
@include media-breakpoint-down(sm) {
  .footer-container .links .h3,
  .block-contact span,
  .c-info {
    font-size: 14px !important;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
  }
  .links .collapse {
    display: none;
  }
  .links .collapse.in {
    display: block;
  }
  .links .title {
    padding: 5px 0;
    cursor: pointer;
  }
  .links .title .collapse-icons .remove,
  .links .title[aria-expanded="true"] .collapse-icons .add {
    display: none;
  }
  .links .title[aria-expanded="true"] .collapse-icons .remove {
    display: block;
  }
  .links .navbar-toggler {
    display: inline-block;
    padding: 0;
    color: #fff;
  }
}

// @media (max-width: 991px)
@include media-breakpoint-down(md) {
}
