.quickview {
  .modal-dialog {
    width: calc(100% - 30px);
    max-width: 64rem;
  }
  .modal-content {
    min-height: 28.13rem;
  }
  .modal-header {
    border: none;
    padding: $small-space;
  }
  .modal-body {
    min-height: 23.75rem;
  }
  .modal-footer {
    border-top: 1px solid rgba($gray,.3);
  }
  .layer {
    display: none;
  }
  .product-cover img {
    width: 95%;
  }
  .images-container {
    display: flex;
    z-index: 1;
    .product-images > li.thumb-container > .thumb {
      width: 100%;
      max-width: 4.938rem;
      margin-bottom: 0.8125rem;
      background: white;
    }
  }
  .mask {
    width: 45%;
    max-height: 324px;
    overflow: hidden;
    margin-left: $small-space;
    z-index: 1;
  }
  .js-thumb{
    margin-bottom: 13px;
  }
  .propage .wbproductcountdown{
    display: none
  }
  .arrows {
    position: absolute;
    top: 0;
    bottom: 0;
    max-height: 22.5rem;
    right: 5rem;
    z-index: 0;
    .arrow-up,.arrow-down {
      border-radius: 5px;
      cursor: pointer;
      background: #eee;
      color: #000;
      min-width: 28px;
      min-height: 28px;
      transition: 0.3s ease;
      opacity: 0.2;
    }
    .arrow-up {
      margin-top: -3.125rem;
      padding: 2px 1px;
    }
    .arrow-down {
      position: absolute;
      bottom: -1.875rem;
      padding: 2px 2px;
    }
    .arrow-up,.arrow-down {
      &:hover {
        background: #ffcc00;
        color: #000;
      }
    }
  }
}