.sitemap {
  h2 {
    color: #131313;
    text-transform: capitalize;
    font-size: 1.1rem;
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
    height: 28px;
    letter-spacing: 1px;
    margin-top: 10px;
  }

  ul {
    margin-top: 20px;

    &.nested {
      margin-left: 20px;
    }

    li {
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }
  }
}

@include media-breakpoint-down(xs) {
  .sitemap {
    margin-top: 0;
  }
}
