// @import "~bourbon/app/assets/stylesheets/bourbon";
@import "bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";
/*** HEADER ***/

#header .menu,
#header .menu > ul > li {
  display: inline-block;
}
#index #wrapper .breadcrumb[data-depth="1"] {
  display: none;
}
.header-right-navs {
  display: flex;
}

#wrapper .breadcrumb ol {
  margin-bottom: 0px;
  border-radius: 5px;
  padding: 0px;
  margin-top: 20px;
}

#wrapper .breadcrumb li {
  display: inline;
}

#wrapper .breadcrumb li:after {
  content: "|";
  margin: 0.3125rem;
}

#wrapper .breadcrumb li:last-child {
  content: "|";
  margin: 0;
}

#wrapper .breadcrumb li:last-child:after {
  content: "";
}
#main .page-content h6 {
  margin-bottom: 1.125rem;
}

#notifications ul {
  margin-bottom: 0;
}

.breadcrumb {background: transparent;}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
}
@include media-breakpoint-down(md) {
}
